html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a, .link {
  color: inherit;
  text-decoration: none;
}

h2.link {
  padding: 20px;
  border: 1px solid silver;
  margin: 0 10px;
  border-radius: 8px;
}
h2.link:hover {
  cursor: pointer;
}


* {
  box-sizing: border-box;
}
